{% extends 'base.html' %}
{% load static %}

{%block title%}
    <title>TODO List - Taskmate </title>
{%endblock title%}

{%block content%}
    <div class="container-fluid custom-background">
        <div class="container">
            </br>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {%  endif %}
                {% endfor %}
            {%  endif %}

            <div class="container-fluid">
                <form method="POST" class="row g-3 align-items-center">
                    {% csrf_token %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <label class="visually-hidden">New Task</label>
                        <div class="input-group">
                            <input type="text" name="task" class="form-control bg-body-secondary" placeholder="New Task?">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <button type="submit" class="btn btn-danger">Add Task</button>
                    </div>
                </form>
            </div>

            </br>

            <table class="table table-bordered text-center table-black table-striped">
                <thead>
                    <tr class="text-white">
                    <th scope="col">Task</th>
                    <th scope="col">Done</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if all_tasks %}
                        {% for obj in all_tasks %}
                            {% if obj.done %}
                                <tr class="table-success text-decoration-line-through">
                                    <td>{{obj.task}}</td>
                                    <td><a href="{% url 'pending_task' obj.id %}"><button type="button" class="btn btn-outline-dark">Mark Pending</button></a></td>
                                    <td><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-outline-primary">Edit</button></a></td>
                                    <td><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
                                </tr>
                            {% else %}
                                <tr class="table-light" >
                                    <td>{{obj.task}}</td>
                                    <td><a href="{% url 'complete_task' obj.id %}"><button type="button" class="btn btn-outline-dark">Mark Complete</button></a></td>
                                    <td><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-outline-primary">Edit</button></a></td>
                                    <td><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="?pg=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {%if all_tasks.has_previous %}
                    <li class="page-item"><a class="page-link" href="?pg={{all_tasks.previous_page_number}}">{{all_tasks.previous_page_number}}</a></li>
                {% endif %}

                <li class="page-item"><a class="page-link" href="?pg={{all_tasks.number}}">{{all_tasks.number}}</a></li>
                
                {%if all_tasks.has_next %}
                <li class="page-item"><a class="page-link" href="?pg={{all_tasks.next_page_number}}">{{all_tasks.next_page_number}}</a></li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?pg={{all_tasks.paginator.num_pages}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                </ul>
            </nav> 
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'css/todolist.css' %}">
{%endblock content%}
